.header {
    background-image: url('../img/logo.jpg');
    background-size: cover;
    height: 176px;
    padding-top: 40px;
    @media screen and(max-width: 320px) {
        height: 190px;
    }
}
.header__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}
.header__link-logo{
    display: flex;
    align-items: center;
    @include fonts(normal, 500, 30px, 1.16);
    color: #ffffff;
}
.header__logo-text{
    @media screen and(max-width: 320px) {
        display: none;
    }
}
.header__icon {
    margin-right: 10px;
}
.header__list {
    display: flex;
}
.header__item {
    position: relative;
}
.header__item:not(:last-child){
    margin-right: 40px;
}
.header__link {
    color: #ffffff;
    text-transform: uppercase;
    @include fonts(normal, 500, 12px, 1.16);
}
.header__link:hover,
.header__link:focus{
    
}
.header__form {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 394px;
    margin: 0 auto;
    @media screen and(max-width: 767.99px) {
        width: 336px;
    }
    @media screen and(max-width: 320px) {
        width: 280px;
    }
}
.header__input {
    display: block;
    width: 100%;
    height: 20px;
    border: none;
    color: #ffffff;
    outline: rgba(0,0,0,0);
    border-bottom: 0.5px solid #fff;
    background-color: transparent;
    @media screen and(max-width: 767.99px) {
        width: 336px;
    }
}
.header__input::placeholder{
    color: #ffffff;
    opacity: .6;
    @include fonts(normal, 400, 14px, 1.14);
}
.header__search-btn {
    position: absolute;
    cursor: pointer;
    right: 0;
    bottom: 6px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}
.header__icon-btn{
    color: #ffffff;
}
 .current::after {
    position: absolute;
    left: 0;
    bottom: -1px;
    content: '';
    width: 100%;
    height: 3px;
    background: #FF001B;
    display: block;
}